/* Work Sans Font form google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: "Work Sans", sans-serif, system-ui;
}

html {
  font-family: "Work Sans", sans-serif, system-ui;
  font-weight: 400;
  font-size: 62.5%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.btn-primary {
  display: inline-block;
  border-radius: 8px;
  background: #ff900e;
  padding: 2rem 2.4rem;
  border: 0px;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.m-t {
  margin-top: 2.2rem;
}

section {
  margin-top: 13rem;
  padding: 0 1rem;
}
/* HEADER STYLING */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 5rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 2.6rem;
}

nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #424242;
}

nav .nav-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #131313;
  word-spacing: 2px;
}

/* BANNER SECTION STYLING */
.banner {
  margin-top: 9rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 5rem;
}

.banner img {
  width: 100%;
}

.banner-text-box {
  text-align: center;
}

.banner-text-box .banner-title {
  font-size: 5rem;
  font-weight: 700;
  color: #131313;
  word-spacing: 2px;
  width: 42%;
  margin: 0 auto;
}

.banner-text-box .banner-description {
  font-size: 1.6rem;
  color: #727272;
  line-height: 2.6rem;
  width: 70%;
  margin: 2rem auto 0 auto;
}

/* TEAM SECTION STYLING */
.section-team-container {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.section-team-column-title {
  font-size: 3.5rem;
  color: #727272;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 5rem;
}

.section-team-column-title .highlight-1 {
  color: #131313;
  font-weight: 700;
}
.section-team-column-title .highlight-2 {
  color: #ff900e;
  font-weight: 700;
}

.section-team-column-description {
  color: #727272;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 3rem;
}

.section-team-column {
  width: 46%;
}
.section-team-column .section-team-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.section-team-gallery-item img {
  width: 100%;
}

/* FEATURES SECTION STYLING */

.features-section-container {
  display: flex;
  gap: 9rem;
}

.features-section-column {
  flex-basis: 46%;
}

.features-section-column .card img {
  width: 100%;
  height: 100%;
}
.card .card-caption h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .card-caption h3 span,
.card .card-caption h3 span {
  display: block;
}

.card .card-caption {
  background-color: #ff900e;
  color: #fff;
  /* width: 100%; */
  padding: 2rem;
  text-align: center;
  position: relative;
  left: -6rem;
  bottom: 7rem;
  border-radius: 5px;
  width: 25rem;
}

.year-10 {
  font-size: 4.5rem;
}

.exper {
  font-size: 2rem;
}

.features-section-title {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  color: #131313;
  font-weight: 700;
}

.features-section-title::before {
  content: " ";
  display: block;
  height: 9rem;
  width: 5px;
  background-color: #ff900e;
  margin-right: 2rem;
}

.features-section-description {
  font-size: 1.6rem;
  color: #727272;
  line-height: 2.6rem;
  text-align: justify;
  margin-bottom: 3rem;
}

.features-section-column-item {
  margin-bottom: 3rem;
  padding: 2rem;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.features-section-column-item h4 {
  font-size: 2rem;
  color: #131313;
  font-weight: 600;
  margin-bottom: 1rem;
}

.features-section-column-item p {
  font-size: 1.6rem;
  color: #727272;
  text-align: justify;
}

/* FACT SECTION STYLING */
.section-fact-title-box {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.section-fact-title-box h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #131313;
}

.section-fact-title-box p {
  font-size: 1.6rem;
  color: #727272;
  width: 45%;
  line-height: 2.6rem;
}

.section-fact-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 2rem;
  padding: 0 2rem;
}

.section-fact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 5rem 2rem;
  border: 1px solid #ff900e;
  border-radius: 5px;
}

.section-fact-item h5 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #424242;
}

.section-fact-item p {
  font-size: 2rem;
  color: #424242;
}

/* Responsive Styling */
/* Tablet and medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .banner-text-box .banner-title {
    width: 100%;
    font-size: 4rem;
  }
  .banner-text-box .banner-description {
    width: 100%;
  }
  nav li:not(:last-child) {
    margin-right: 1.6rem;
  }

  nav .nav-title {
    font-size: 3rem;
  }

  .features-section-container {
    flex-direction: column;
    gap: 4rem;
  }

  .features-section-column {
    width: 100%;
  }

  .card .card-caption {
    width: 80%;
    left: 0;
    bottom: 7rem;
  }

  .section-fact-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .section-team-container {
    flex-direction: column-reverse;
  }

  .section-team-column {
    width: 100%;
  }

  .features-section-container {
    flex-direction: column;
    gap: 4rem;
  }

  .features-section-column {
    width: 100%;
  }

  .card .card-caption {
    transform: translateX(0rem);
    bottom: 0rem;
  }
  .card .card-caption {
    width: 80%;
    left: 0;
    bottom: 7rem;
  }

  .section-fact-title-box p {
    width: 60%;
  }
}
/* Mobile Devices */
@media screen and (max-width: 576px) {
  html {
    font-size: 56%;
  }
  .container {
    max-width: 100%;
    padding: 0 2.5rem;
  }
  .banner-text-box .banner-title {
    width: 100%;
    font-size: 4rem;
  }
  .banner-text-box .banner-description {
    width: 100%;
  }

  nav {
    flex-direction: column;
    gap: 1.5rem;
  }
  nav > ul {
    flex-wrap: wrap;
  }

  nav li:not(:last-child) {
    margin-right: 1.6rem;
  }

  .section-fact-container {
    grid-template-columns: 1fr;
  }

  .section-fact-title-box {
    text-align: center;
  }

  .section-fact-title-box p {
    width: 100%;
  }
}
