/* Work Sans Font form google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  font-family: "Work Sans", sans-serif, system-ui;
}

html {
  font-family: "Work Sans", sans-serif, system-ui;
  font-weight: 400;
  font-size: 62.5%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.btn-primary {
  display: inline-block;
  border-radius: 8px;
  background: #ff900e;
  padding: 2rem 2.4rem;
  border: 0px;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.m-t {
  margin-top: 2.2rem;
}

section {
  margin-top: 8.5rem;
}
/* HEADER STYLING */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 5rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 2.6rem;
}

nav li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #424242;
}

nav .nav-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #131313;
  word-spacing: 2px;
}

/* BANNER SECTION STYLING */
.banner {
  margin-top: 9rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 5rem;
}

.banner img {
  width: 100%;
}

.banner-text-box {
  text-align: center;
}

.banner-text-box .banner-title {
  font-size: 5rem;
  font-weight: 700;
  color: #131313;
  word-spacing: 2px;
  width: 42%;
  margin: 0 auto;
}

.banner-text-box .banner-description {
  font-size: 1.6rem;
  color: #727272;
  line-height: 2.6rem;
  width: 70%;
  margin: 2rem auto 0 auto;
}

/* FEATURES SECTION STYLING */
.section-features-container {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.section-features-column-title {
  font-size: 3.5rem;
  color: #727272;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 5rem;
}

.section-features-column-title .highlight-1 {
  color: #131313;
}
.section-features-column-title .highlight-2 {
  color: #ff900e;
}

.section-features-column-description {
  color: #727272;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 3rem;
}

.section-features-column {
  width: calc((100 - 70px) / 2);
}
.section-features-column .section-features-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

/* Responsive Styling */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .banner-text-box .banner-title {
    width: 100%;
    font-size: 4rem;
  }
  .banner-text-box .banner-description {
    width: 100%;
  }
  nav li:not(:last-child) {
    margin-right: 1.6rem;
  }

  nav .nav-title {
    font-size: 3rem;
  }
}
/* Mobile Devices */
/* Tablet and medium devices */
@media screen and (max-width: 576px) {
  html {
    font-size: 56%;
  }
  .container {
    max-width: 100%;
    padding: 0 2.5rem;
  }
  .banner-text-box .banner-title {
    width: 100%;
    font-size: 4rem;
  }
  .banner-text-box .banner-description {
    width: 100%;
  }

  nav {
    flex-direction: column;
    gap: 1.5rem;
  }
  nav > ul {
    flex-wrap: wrap;
  }

  nav li:not(:last-child) {
    margin-right: 1.6rem;
  }
}
